<div>                                                               
    <h1>                                                                
      オリジナルアプリケーション                                                          
    </h1>                                                              
    <nav>
        <a href="http://127.0.0.1:8000/admin/">admin</a>
    <br>
        <a href="http://127.0.0.1:8000/polls/detail">インストール用リンク</a>
    <br>
        <a href="http://127.0.0.1:8000/polls/results">座標登録</a>
    <br>
        <a href="http://127.0.0.1:8000/polls/vote">自動操作</a>
      </nav> 
                                                         
  </div>                  